* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    font-weight: 400;
    background: rgb(27, 27, 27);
    color: ivory;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5rem;
}